<div ng-init="init()" ng-controller="homeCtrl">
  <div class="loader loader-double is-active" ng-show="loading"></div>
  <header id="header_outer">
    <div class="container">
      <div class="header_section">
        <div class="logo"><a href="#top_content"><img src="{{url}}img/logo.png" alt="" style="max-height: 50px;"></a></div>
        <nav class="nav" id="nav">
          <ul class="toggle">
            <li><a href="#top_content">Inicio</a></li>
            <li><a href="#service">Servicios</a></li>
            <li><a href="#work_outer">Modo de trabajo</a></li>
            <li><a href="#client_outer">Clientes</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
          <ul class="">
            <li><a href="#top_content">Inicio</a></li>
            <li><a href="#service">Servicios</a></li>
            <li><a href="#work_outer">Modo de trabajo</a></li>
            <li><a href="#client_outer">Clientes</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </nav>
        <a class="res-nav_click animated wobble wow" href="javascript:void(0)"><i class="fa-bars"></i></a> </div>
    </div>
  </header>

  <section id="top_content" class="top_cont_outer">
    <div class="top_cont_inner">
      <div class="container">
        <div class="top_content">
          <div class="row">
            <div class="col-lg-5 col-sm-7">
              <div class="top_left_cont flipInY wow animated">
                <h4>Profecionales a su servicio</h4>
                <h2>Consultoria en el diseño de software.</h2>
                <p>Especializados para encontrar la mejor solucion a las necesidades tecnologicas de tu empresa.</p>
                <a href="#service" class="btn input-btn">Leer mas</a> </div>
            </div>
            <div class="col-lg-7 col-sm-5"> </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="service">
    <div class="container">
      <h2>Servicios</h2>
      <div class="service_area">
        <div class="row">
          <div class="col-lg-4">
            <div class="service_block">
              <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa-flash"></i></span> </div>
              <h3 class="animated fadeInUp wow">Tiempo de trabajo</h3>
              <p class="animated fadeInDown wow">Nuestos tiempos de trabajo se adecuan a las nececidades de nuestros clientes en tiempo y forma del proyecto.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service_block">
              <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa-comments"></i></span> </div>
              <h3 class="animated fadeInUp wow">Soporte tecnico</h3>
              <p class="animated fadeInDown wow">Contamos con soporte tecnico especializado para dar una respuesta ante un fallo de manera profecional.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service_block">
              <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa-shield"></i></span> </div>
              <h3 class="animated fadeInUp wow">Seguridad de los datos</h3>
              <p class="animated fadeInDown wow">Implementamos un alto nivel de seguridad informatica para impedir el robo y/o modificacion de los datos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="work_outer">
    <div class="top_cont_latest">
      <div class="container">
        <h2>Modo de trabajo</h2>
        <div class="work_section">
          <div class="row">
            <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-doc"></i> </div>
                <div class="service-list-col2">
                  <h3>Proceso de dcumentacion</h3>
                  <p>Nos redactas tus ideas y nosotros nos encargamos de darte un modelo de tu aplicacion.</p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-cog"></i> </div>
                <div class="service-list-col2">
                  <h3>Desarrollo de la aplicacion.</h3>
                  <p>Contamos con un equipo de desarrollo profecional para dar soluciones profecionales.</p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-database"></i> </div>
                <div class="service-list-col2">
                  <h3>Hosting y almacenamiento.</h3>
                  <p>Contamos con hosting y almacenamiento los 365 dias del año.</p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-comment"></i> </div>
                <div class="service-list-col2">
                  <h3>Soporte 24/7</h3>
                  <p>Ante alguna falla en tu aplicacion tenemos equipo especializado para darte solucion.</p>
                </div>
              </div>
              <div class="work_bottom"> <span>¿Estas interesado?</span> <a href="#contact" class="btn input-btn">Contactanos</a> </div>
            </div>
            <figure class="col-lg-6 col-sm-6  text-right wow fadeInUp delay-02s"> </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="c-logo" class="c-logo-part">
    <div class="container">
      <ul class="delay-06s animated  bounce wow">
        <li><a href="javascript:void(0)"><img src="{{url}}img/angular.png" style="max-width: 150px;" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="{{url}}img/html.png" style="max-width: 150px;" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="{{url}}img/react.png" style="max-width: 150px;" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="{{url}}img/node2.png" style="max-width: 150px;" alt=""></a></li>
      </ul>
    </div>
  </div>

  <!-- <section id="Portfolio" class="content">
    <div class="container portfolio-title">
      <div class="section-title">
        <h2>Portfolio</h2>
      </div>
    </div>

    <div class="portfolio-top"></div>

    <div class="portfolio">

      <div id="filters" class="sixteen columns">
        <ul class="clearfix">
          <li>
            <a id="all" href="#" data-filter="*" class="active">
              <h5>Todos</h5>
            </a>
          </li>
          <li>
            <a class="" href="#" data-filter=".branding">
              <h5>Web</h5>
            </a>
          </li>
          <li>
            <a class="" href="#" data-filter=".design">
              <h5>Movil</h5>
            </a>
          </li>
        </ul>
      </div>

      <div class="isotope" style="position: relative; overflow: hidden; height: 480px;" id="portfolio-wrap">

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   videography isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic1.jpg" alt="Portfolio 1"> </div>
          <a title="Starbucks Coffee" rel="prettyPhoto[galname]" href="#prueba">
            <div class="project-overlay">
              <div class="project-info">
                <div class="zoom-icon"></div>
                <h4 class="project-name">Leica Camera</h4>
                <p class="project-categories">Videography</p>
              </div>
            </div>
          </a>
        </div>

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic2.jpg" alt="Portfolio 1"> </div>
          <div class="project-overlay">
            <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-video-expander.html" title="Open Project"></a> </div>
            <div class="project-info">
              <div class="zoom-icon"></div>
              <h4 class="project-name">Foto Template</h4>
              <p class="project-categories">Design</p>
            </div>
          </div>
        </div>

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design  isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic3.jpg" alt="Portfolio 1"> </div>
          <div class="project-overlay">
            <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-normal-expander-1.html" title="Open Project"></a> </div>
            <div class="project-info">
              <div class="zoom-icon"></div>
              <h4 class="project-name">Sony Phone</h4>
              <p class="project-categories">Design</p>
            </div>
          </div>
        </div>

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  photography  branding web isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic4.jpg" alt="Portfolio 1"> </div>
          <div class="project-overlay">
            <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-fullscreen-expander-1.html" title="Open Project"></a> </div>
            <div class="project-info">
              <div class="zoom-icon"></div>
              <h4 class="project-name">Nike Shoes</h4>
              <p class="project-categories">Photography, Web, Branding</p>
            </div>
          </div>
        </div>

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic5.jpg" alt="Portfolio 1"> </div>
          <div class="project-overlay">
            <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-fullscreen-expander-2.html" title="Open Project"></a> </div>
            <div class="project-info">
              <div class="zoom-icon"></div>
              <h4 class="project-name">Vinyl Record</h4>
              <p class="project-categories">Design</p>
            </div>
          </div>
        </div>

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  web isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic6.jpg" alt="Portfolio 1"> </div>
          <div class="project-overlay">
            <div class="open-project-link"> <a class="open-project" href="http://clapat.ro/themes/newave/project-normal-expander-2.html" title="Open Project"></a> </div>
            <div class="project-info">
              <div class="zoom-icon"></div>
              <h4 class="project-name">iPhone</h4>
              <p class="project-categories">Web</p>
            </div>
          </div>
        </div>

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design web isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic7.jpg" alt="Portfolio 1"> </div>
          <a href="http://clapat.ro/themes/newave/project-external-1.html" class="external">
            <div class="project-overlay">
              <div class="project-info">
                <div class="zoom-icon"></div>
                <h4 class="project-name">Nexus Phone</h4>
                <p class="project-categories">Design, Web</p>
              </div>
            </div>
          </a>
        </div>

        <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   photography isotope-item">
          <div class="portfolio-image"> <img src="{{url}}img/portfolio_pic8.jpg" alt="Portfolio 1"> </div>
          <a title="Stereo Headphones" rel="prettyPhoto[galname]" href="http://clapat.ro/themes/newave/images/portfolio/portfolio8.jpg">
            <div class="project-overlay">
              <div class="project-info">
                <div class="zoom-icon"></div>
                <h4 class="project-name">Art Frame</h4>
                <p class="project-categories">Photography</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="portfolio-bottom"></div>
    <div id="project-page-holder">
      <div class="clear"></div>
      <div id="project-page-data"></div>
    </div>

  </section> -->


  <section class="main-section" id="client_outer">
    <h2>Opiniones de nuestros clientes</h2>
    <div class="client_area ">
      <div class="client_section animated  fadeInUp wow">
        <div class="client_profile">
          <div class="client_profile_pic"><img src="{{url}}img/avellana.jpg" alt=""></div>
          <h3>Avellana Cafe</h3>
        </div>
        <div class="quote_section">
          <div class="quote_arrow"></div>
          <p><b><img src="{{url}}img/quote_sign_left.png" alt=""></b> Empresa realmente dedicada a su area laboral, ofrece grandes productos a la medida que necesitas. <small><img src="{{url}}img/quote_sign_right.png" alt=""></small>						</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="client_section animated  fadeInDown wow">
        <div class="client_profile flt">
          <div class="client_profile_pic"><img src="{{url}}img/jhc.png" alt=""></div>
          <h3>JHC</h3>
        </div>
        <div class="quote_section flt">
          <div class="quote_arrow2"></div>
          <p><b><img src="{{url}}img/quote_sign_left.png" alt=""></b> Tiempo de respuesta inmediato y en cuanto a desarrallo de la aplicacion es muy agil, recomendado. <small><img src="{{url}}img/quote_sign_right.png" alt=""></small>						</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </section>

  <footer class="footer_section" id="contact">
    <div class="container">
      <section class="main-section contact" id="contact">
        <div class="contact_section">
          <h2>Contactanos</h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="contact_block">
                <div class="contact_block_icon icon2 rollIn animated wow"><span><i class="fa-phone"></i></span></div>
                <span> 55-7196-2448 </span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="contact_block">
                <a href="https://www.facebook.com/horusnetwork/" target="_blank"><div class="contact_block_icon icon3 rollIn animated wow" href="https://www.facebook.com/horusnetwork/"><span><i class="fa-facebook"></i></span></div></a>
                <span> <a href="https://www.facebook.com/horusnetwork/"> Horus Network</a> </span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="contact_block">
                <div class="contact_block_icon icon1 rollIn animated wow"><span><i class="fa-pencil"></i></span></div>
                <span> <a href="mailto:jcarlos.horus@gmail.com"> jcarlos.horus@gmail.com</a> </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft">
            <div class="contact-info-box address clearfix">
              <h3>Cuentanos tus ideas!</h3>
              <p>Nosotros te orientamos y ayudamos para que logres obtener la apliacion para mejorar tus procesos.</p>
              <p>Enterate de grandes promociones entrando a nuestra pagina de Facebook.</p>
            </div>
            <ul class="social-link">
              <!-- <li class="twitter animated bounceIn wow delay-02s"><a href="https://www.facebook.com/horusnetwork/" target="_blank"><i class="fa-twitter"></i></a></li> -->
            </ul>
          </div>
          <div class="col-lg-6 wow fadeInUp delay-06s">
            <div class="form">
              <form role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control input-text" id="name" placeholder="Nombre" data-rule="minlen:4" ng-model="correo.nombre"/>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control input-text" name="email" id="email" placeholder="Correo" data-rule="email" data-msg="Correo invalido" ng-model="correo.mail"/>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-text" name="tel" placeholder="Telefono" ng-model="correo.tel"/>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje" ng-model="correo.mensaje"></textarea>
                  <div class="validation"></div>
                </div>

                <button class="btn input-btn" ng-click="btnEnviarCorreo()">Enviar mensaje</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="footer_bottom">
        <span>© Horus Network</span>
        <div class="credits">
          Designed by <a href="#">Horus Network</a>
        </div>
      </div>
    </div>
  </footer>
</div>
